{% comment %} {%- if collection.products.first.type == "Ticket" -%} {% endcomment %}
  {%- liquid
    unless grid_item_width
      assign grid_item_width = 'small--one-whole medium-up--one-whole large-up--one-quarter'
    endunless
  -%}
   
    {% assign fruits2 ='' %}
    {% assign fruits4 ='' %}
    {% assign new_tag_list = '' %}
    {% assign new_tag_list1 = '' %}
    {% assign variant_numbers = '' %}
    {% assign start_dates = '' %}
    {% assign titles = '' %}
    {% assign cities = '' %}
    {% assign levels = '' %}
    {% assign trees = '' %}
    {% assign urls = '' %}
    {% assign images = '' %}
    {% assign date_time_titles = '' %}
    {% assign city_states = '' %}
    {% assign available_tickets = '' %}
    {% assign weekday = '' %}
    {% assign t = 0 %}
        
        {% for product in collection.products %}
          {% for variant in product.variants %}
            {%- liquid
              assign on_sale = false
              if variant.compare_at_price > variant.price
                assign on_sale = true
              endif
            -%}
            {% assign vt = variant.title | split: "/" %}
            {% assign startdate = vt[0] | date: '%s' %}
            {% assign weekday = vt[0] | date: '%a' %}
            {% assign mydate = 'now' | date: '%s' %}
          
          {% if mydate < startdate %}
            {% assign new_tag_list = new_tag_list | append: ',' | append: startdate %}
            {% assign filename = "////" | append: variant.id %}
        
        {% if fruits4 contains startdate %}
              {% assign fruits21 = startdate | append: '_1' %}
            {% if fruits4 contains fruits21 %}
              {% assign everything = startdate | append: '_1' | append: '_1' | append: filename %}
            {% else %}
              {% assign fruits4 = fruits4 | append: '?' | append: startdate | append: '_1' %}
              {% assign everything = startdate | append: '_1' | append: filename %}
            {% endif %}
        {% else %}
          {% assign fruits4 = fruits4 | append: '?' | append: startdate %}
          {% assign everything = startdate | append: filename %}
        {% endif %}

          {% assign everything1 = everything | append: "////" %}
          {% assign everything2 = everything1 | append: product.title %}
          {% assign everything3 = everything2 | append: "////" %}
          {%-assign img_url = product.featured_image | img_url: '600x600'  -%}
          {% assign everything4 = everything3 | append: img_url %}
          {% assign everything5 = everything4 | append: "////" %}
          {% assign everything6 = everything5 | append: product.metafields.custom.level %}
          {% assign everything7 = everything6 | append: "////" %}
          {% assign everything8 = everything7 | append: product.metafields.custom.tree %}
          {% assign everything9 = everything8 | append: "////" %}
          {% assign everything10 = everything9 | append: variant.url %}
          
          {% assign price =  product.price | money %} 
          {% assign everything11 = everything10 | append: "////" %}
          {% assign everything12 = everything11 | append: price %}
          {% assign everything13 = everything12 | append: "////" %}
          {% assign price = product.price | money | remove: '.00' %}
           
          {% assign dt2 = variant.title | replace: ",", "-" %}
          {% assign everything14 = everything13 | append: dt2 %}
          {% assign everything15 = everything14 | append: "////" %}
          {% assign dt3 = product.metafields.custom.city_state | replace: ",", "-" %}
          {% assign everything16 = everything15 | append: dt3 %}
          {% assign qty  =variant.inventory_quantity %}
          {% assign everything17 = everything16 | append: "////" %}
          {% assign everything18 = everything17 | append: qty %}
          {% assign everything19 = everything18 | append: "////" | append: weekday %}
          {% assign new_tag_list1 = new_tag_list1 | append: ',' | append: everything19  %}
          
          {%- endif -%}
          {%- endfor -%}
        {%- endfor -%}

        {% assign new_tag_list = new_tag_list | remove_first: ',' | split: ',' %}
        {% assign new_tag_list1 = new_tag_list1 | remove_first: ',' | split: ',' %}
        {% assign new_tag_list41 = new_tag_list | sort %}
        {% assign fruits2 ='' %}
        
        {% for item in new_tag_list41 %}
          {% if fruits2 contains item %}
            {% assign fruits21 = item | append: '_1' %}
            {% if fruits2 contains fruits21 %}
              {% assign fruits2 = fruits2 | append: ',' | append: item | append: '_1' | append: '_1' %}
            {% else %}
              {% assign fruits2 = fruits2 | append: ',' | append: item | append: '_1' %}
            {% endif %}
          {% else %}
            {% assign fruits2 = fruits2 | append: ',' | append: item %}
          {% endif %}
        {% endfor %}
        
        {% assign new_tag_list4 = fruits2 | remove_first: ',' | split: ',' %}
        
        {% for item in new_tag_list4 %}
          {% assign last_index = new_tag_list1.size | minus: 1 %}

          {% for j in (0..last_index) %}
            {% assign zcode = new_tag_list1[j] | split: "////" %}  
            {% assign sd = zcode[0] %}
            {% assign vd = zcode[1] %}
            {% assign title = zcode[2] %}
            {% assign city = zcode[3] %}
            {% assign level = zcode[4] %}
            {% assign tree = zcode[5] %}
            {% assign url = zcode[6] %}
            {% assign image1 = zcode[7] %}
            {% assign dt1 = zcode[8] %}
            {% assign vti1 = zcode[9] %}
            {% assign vqty = zcode[10] %}
            {% assign dayofweek = zcode[11] %}
            
            {% if item == sd %}
              {% assign start_dates = start_dates | append: ',' | append: sd %}
              {% assign variant_numbers = variant_numbers | append: ',' | append: vd %}
              {% assign titles = titles | append: ',' | append: title %}
              {% assign cities = cities | append: ',' | append: city %}
              {% assign levels = levels | append: ',' | append: level %}
              {% assign trees = trees | append: ',' | append: tree %}
              {% assign urls = urls | append: ',' | append: url %}
              {% assign images = images | append: ',' | append: image1 %}
              {% assign date_time_titles = date_time_titles | append: ',' | append: dt1 %}
              {% assign city_states = city_states | append: ',' | append: vti1 %}
              {% assign available_tickets = available_tickets | append: ',' | append: vqty %}
              {% assign day_of_week = day_of_week | append: ',' | append: dayofweek %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endfor %}
        
        
        {% assign variant_numbers = variant_numbers | remove_first: ',' | split: ',' %}
        {% assign start_dates= start_dates | remove_first: ',' | split: ',' %}
        {% assign titles= titles | remove_first: ',' | split: ',' %}
        {% assign cities= cities | remove_first: ',' | split: ',' %}
        {% assign levels= levels | remove_first: ',' | split: ',' %}
        {% assign trees= trees | remove_first: ',' | split: ',' %}
        {% assign urls= urls | remove_first: ',' | split: ',' %}
        {% assign images= images | remove_first: ',' | split: ',' %}
        {% assign date_time_titles= date_time_titles | remove_first: ',' | split: ',' %}
        {% assign city_states= city_states | remove_first: ',' | split: ',' %}
        {% assign available_tickets= available_tickets | remove_first: ',' | split: ',' %}
        {% assign day_of_week = day_of_week | remove_first: ',' | split: ',' %}
        {% assign i = 0 %}
        
        {% for item in variant_numbers %}
          <div
            class="grid__item grid-product {{ start_dates[i] }} {{ grid_item_width }}{% if settings.quick_shop_enable %} grid-product__has-quick-shop{% endif %}"
            data-grid-width="{{ grid_item_width }}"
            data-grid-index="{{ forloop.index0 }}"
            data-product-handle="{{ product.handle }}"
            data-product-id="{{ product.id }}"
            data-aos="row-of-{{ per_row }}"
          >
      <div class="grid-product__content">
        {%- if has_custom_label -%}
          <div class="grid-product__tag grid-product__tag--custom">
            {{ custom_label }}
          </div>
        {%- endif -%}
       
          {% assign tickets = available_tickets[i] | plus: 0 %}

          {%- if on_sale and product.available -%}
            {%- if settings.product_save_amount -%}
              <div class="grid-product__tag grid-product__tag--sale">
                {%- if settings.product_save_type == 'dollar' -%}
                  {% capture saved_amount %}{{ product.compare_at_price | minus: product.price | money | remove: '.00' }}{% endcapture %}
                {%- else -%}
                  {% capture saved_amount %}{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round }}%{% endcapture %}
                {%- endif -%}
                {{ 'products.general.save_html' | t: saved_amount: saved_amount }}
              </div>
              
            {%- endif -%}
          {%- endif -%}

        {%- if settings.quick_shop_enable -%}
          <div class="quick-product__btn quick-product__btn--not-ready js-modal-open-quick-modal-{{ product.id }} small--hide">
            <span class="quick-product__label">{{ settings.quick_shop_text }}</span>
          </div>
        {%- endif -%}
    
        {%- liquid
          assign fixed_aspect_ratio = false
          unless settings.product_grid_image_size == 'natural'
            assign fixed_aspect_ratio = true
          endunless
        -%}
    
        
        
        {%- if tickets <= 0 -%}
          <div class="grid-product__tag grid-product__tag--sold-out sold-out-center">
            {{ 'products.product.sold_out' | t }}
          </div>
        {%- endif -%}
    
        <a href="{{ urls[i] }}" class="grid-product__link">
          <div class="grid-product__image-mask"
            style="{% if tickets <= 0 %}opacity: 0.4;{% endif %}"
          >
            {% assign datefortag = date_time_titles[i] | split: '-' | first | strip %}        
            <div class="grid-product__tag grid-product__tag--date-tag">
              <div class="date-tag__day">{{ day_of_week[i] }}</div>
              <hr class="date-tag__divider">
              
              {% assign splitDate =  datefortag | split: " " %}
              {% assign month =  splitDate[0] %}
              {% assign day =  splitDate[1] %}
              {%- if month.size > 5 -%}
                {% assign month = month | slice: 0, 3 %}
              {%- endif -%}
              <div class="date-tag__date">{{ month }} {{  day }}</div>
            </div>

            
            {%- if fixed_aspect_ratio -%}
              <div
                class="grid__image-ratio grid__image-ratio--{{ settings.product_grid_image_size }}"
                >
                <img class="lazyload{% unless settings.product_grid_image_fill %} grid__image-contain{% endunless %}"
                  data-src="{{ cities[i] }}"
                  data-widths="[360, 540, 720, 900, 1080]"
                  data-aspectratio="{{ preview_image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ preview_image.alt | escape }}"
                  
                >
              </div>
            {%- else -%}
              <div class="image-wrap"
                style="height: 0; padding-bottom: {{ 100 | divided_by: preview_image.aspect_ratio }}%;"
                >
                {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="grid-product__image lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080]"
                  data-aspectratio="{{ preview_image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ preview_image.alt | escape }}"
                  
                >
                <noscript>
                  <img class="grid-product__image lazyloaded"
                    src="{{ preview_image | img_url: '400x' }}"
                    alt="{{ preview_image.alt | escape }}"
                    style="opacity: 0.5"  
                  >
                </noscript>
              </div>
            {%- endif -%}
    
            {%- if settings.product_hover_image and product.images.size > 1 -%}
              {%- for image in product.images offset: 1 limit: 1 -%}
                {%- assign second_image = image -%}
              {%- endfor -%}
              <div class="grid-product__secondary-image small--hide">
                {%- assign img_url = cities[i] -%}
                <img class="lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[360, 540, 720, 1000]"
                    data-aspectratio="{{ second_image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ second_image.alt }}">
              </div>
            {%- endif -%}
          </div>

          <div class="grid-product__meta item-1">
            <div class="title-price-wrapper">
              <div class="grid-product__title">{{ titles[i] }}
            </div>
              <div class="grid-product__price">
                {% if product.metafields.custom.tree %}
                  <div class="tree_meta">
                    {{ product.metafields.custom.tree }}
                    <script>"{{ product.metafields.custom.tree }}"</script>
                  </div>
                {% endif %}
                
                {{ images[i] }}
                {%- if on_sale -%}
                  {%- assign compare = product.compare_at_price | money -%}
                  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  <span class="grid-product__price--original">{{ compare }}</span>
                  <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                {%- endif -%}
                
                {%- if product.price_varies -%}
                  {%- assign price = product.price_min | money -%}
                  <span {% if on_sale %}class="sale-price"{% endif %}>
                    {{ images[i] }}
                  </span>
                {%- else -%}
                  <span {% if on_sale %}class="sale-price"{% endif %}>
                    {{ product.price  | money }}
                  </span>
                {%- endif -%}
                
                {%- assign product_variant = product.selected_or_first_available_variant -%}
                {%- if product_variant.unit_price_measurement -%}
                  <div class="product__unit-price">
                    {%- capture unit_price_base_unit -%}
                      {%- if product_variant.unit_price_measurement -%}
                        {%- if product_variant.unit_price_measurement.reference_value != 1 -%}
                          {{ product_variant.unit_price_measurement.reference_value }}
                        {%- endif -%}
                        {{ product_variant.unit_price_measurement.reference_unit }}
                      {%- endif -%}
                    {%- endcapture -%}
                  </div>
                {%- endif -%}
                
              </div>
            </div>
          <div 
            class="grid-product__title location"
            style="width: 80%;">{{ city_states[i] | replace: "-", "," }}
          </div>

          {% assign vt5 = date_time_titles[i] | split: "/" %}
          {% assign vt6 = vt5[0] %}

          <div class="location_meta 1"><b>{{ vt6 | replace: "-", "," }}</b></div>

            {% assign tree = vt5[1] %}
            {%- if tree %}
              <div class="location_meta 3"> {{ tree }}</div>
            {% endif %} 
          </div>
        </a>
        {%- if settings.enable_swatches -%}
          {%- assign swatch_trigger = 'products.general.color_swatch_trigger' | t | downcase -%}
          {%- assign swatch_file_extension = 'png' -%}
    
          {%- for option in product.options_with_values -%}
            {%- liquid
              assign option_name = option.name | downcase
              assign is_color = false
              if option_name contains swatch_trigger
                assign is_color = true
              elsif swatch_trigger == 'color' and option_name contains 'colour'
                assign is_color = true
              endif
            -%}
            {%- if is_color -%}
              {%- assign option_index = forloop.index0 -%}
              {%- assign values = '' -%}
              <div class="grid-product__colors">
                {%- for variant in product.variants -%}
                  {%- assign value = variant.options[option_index] %}
                  {%- unless values contains value -%}
                    {%- liquid
                      assign values = values | join: ',' | append: ',' | append: value | split: ','
    
                      assign color_file_name = value | handle | append: '.' | append: swatch_file_extension
                      assign color_image = color_file_name | file_img_url: '50x50' | prepend: 'https:' | split: '?' | first
                      assign color_swatch_fallback = value | split: ' ' | last | handle
                      assign color_count = color_count | plus: 1
                    -%}
    
                    <a
                      href="{{ variant.url | within: collection }}"
                      class="color-swatch color-swatch--small"
                      aria-label="{{ product.title }} - {{ value }}"
                      style="background-color: {{ color_swatch_fallback }};{% if images[color_file_name] != blank %}  background-image: url({{ color_image }});{% endif %}">
                    </a>
                  {%- endunless -%}
                 {%- endfor -%}
              </div>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
        {%- if settings.enable_product_reviews -%}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {%- endif -%}
      </div>
    
      {%- unless disable_quick_view_output -%}
        {%- if settings.quick_shop_enable -%}
          {%- render 'quick-shop-modal', product: product -%}
        {%- endif -%}
      {%- endunless -%}
    </div>

      {% assign i = i | plus: 1 %}
      
    {% endfor %}
